.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-data {
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 100%;
}

app-sidebar {
  width: 25%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  margin-right: -25%;
}

.btncontainer {
  position: absolute;
  width: 200px;
  height: 35px;
  margin-left: 83%;
  padding-top: 3%;
  z-index: 20;
}

@media (max-width: 559px) {
  app-sidebar {
    display: none;
  }
  .btncontainer {
    width: 170px;
    height: 5px;
    margin-left: 50%;
  }
  .login-btn,
  .login-btn-sign-out {
    font-size: 10px !important;
  }
}

@media (min-width: 559px) {
  .main-data {
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 100%;
    margin-left: 25%;
  }
}

.login-btn,
.login-btn-sign-out {
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 100%;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #6b6b6b;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(245, 245, 245);
  background-repeat: no-repeat;
  background-position: 15px 15px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #979797;
    color: rgb(255, 255, 255);
  }

  .login-btn-sign-out {
    background-color: #818181 !important;
  }
}
