.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-data {
    // max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 100%;
}

app-sidebar {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: bor;
}