.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-data {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

app-sidebar {
    width: 25%;
    height: 100%;
}