.card {
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18rem; 
    border-radius: 5px; /* rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    padding: 0.25rem 2rem;
}

.picture {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cards {
    display: flex
}