main {
  position: relative;
  left: 13%;
  transform: -50%, -50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.title h1,
p {
  font-size: 3.5rem;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
}
h1 {
  font-weight: 300;
}
h2,
th,
tbody {
  font-weight: 300;
  text-align: left;
  font-size: 1.5rem;
  width: 35vw;
  padding-left: 10px;
}
h2 {
  margin-block-start: 0.43em;
  margin-block-end: 0.1em;
}
table {
  border-spacing: 20px;
  table-layout: auto;
  width: 69vw;
}
td {
  font-size: 1.1rem;
  padding-left: 10px;
}
table tr:nth-child(2n) {
  background-color: whitesmoke;
}
table tr:nth-child(2n + 1) {
  background-color: rgb(211, 211, 211);
}
.Attendance {
  padding-left: 3vw;
  padding-top: 0.25vw;
}
span {
  display: block;
  height: 4vh;
  width: 60vw;
  background-color: white;
}
.msg {
  margin-top: 2%;
}

@media (max-width: 559px) {
  main {
    left: 11%;
  }
  table {
    width: 94vw;
  }
  .title h1 {
    font-size: 3rem;
  }
  th,
  td {
    font-size: 0.9rem;
  }
  table {
    padding: 5px;
  }
  nav {
    width: 100vw;
  }
}
@media only screen and (min-width: 559px) {
  nav {
    display: none;
  }
}
