<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['/resources']">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink] = "['/staff']">Staff</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="title">
        <h1>Grades</h1>
    </div>
</header>
<main>
    <div class="Attendance">
        <h2>Attendance:</h2>
        <table class="content-table">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th>Assignment</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>Bash 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Bash 2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Git 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Git 2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Python 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Python 2</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span></span>
    <div class="Homework">
        <h2>Homework:</h2>
        <table class="content-table">
            <tbody>
                <tr>
                    <th>Assignment</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>Bash 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Bash 2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Git 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Git 2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Python 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Python 2</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span></span>
    <div class="Project">
        <h2>Project:</h2>
        <table class="content-table">
            <tbody>
                <tr>
                    <th>Assignment</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <td>Sprint 0</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Sprint 1</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Sprint 2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Sprint 3</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Sprint 4</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Sprint 5</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span></span>
    <div class="ExtraCredit">
        <h2>Extra Credit:</h2>
        <table class="content-table">
            <tbody>
                <tr>
                    <th>Assignment</th>
                    <th>Percentage</th>
                </tr>
                <tr>
                    <td>Midway Form</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>Python</td>
                    <td>2%</td>
                </tr>
                <tr>
                    <td>Django</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>Algorithms</td>
                    <td>2%</td>
                </tr>
                <tr>
                    <td>Feedback Form</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>80% of class filled form</td>
                    <td>1%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span></span>
    <div class="Overall">
        <h2>Overall:</h2>
        <table class="content-table">
            <tbody>
                <tr>
                    <th>Overall Grade</th>
                </tr>
                <tr>
                    <td>Overall Grade = 10% * Attendance + 65% * Project + 25% * Homework + min(Extra Credit, 10%)</td>
                </tr>
                <tr>
                    <td>Overall Grade = 110.31 %</td>
                </tr>
                <tr>
                    <td>Overall Grade = A+</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span></span>
</main>