<img src='../../../assets/home-background.jpg' alt="students">
<div class="home-main">
    <h1>CS196@Illinois</h1>
    <h2>Illinois' premier freshman honors class taught by students, for students.</h2>
    <div class = "home-buttons">
        <div class="buttont-1">
            <a href="https://docs.google.com/document/d/1iZTGkzPWth-Gn1a9I-qtio2xgPBcR1v5cOZHyBmQyds/edit" target="_blank" rel="nooponer noreferrer">
                <button>S Y L L A B U S</button>
            </a>
        </div>
        <div class="button-2">
            <button [routerLink]="['/resources']" target="_blank" rel="nooponer noreferrer">
                L E C T U R E S
            </button>
        </div>
        <div class="button-3">
            <button [routerLink]="['/staff']" target="_blank" rel="nooponer noreferrer">
                 S T A F F     
            </button>
        </div>
    </div>
</div>