.home-main {
    background: rgba(43, 42, 40, 0.6);
    color: white;
    height: 100%;
    width: 75vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 25% 5%;
}

img {
    padding: 0;
    margin:0;
    max-height: 100px;
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
}