<img src='../../../assets/home-background.jpg' alt="students">
<div class="home-main">
    <h1>CS196@Illinois</h1>
    <h2>Illinois' premier freshman honors class taught by students, for students.</h2>
    <div class = "home-buttons">
        <div class="button-1">
            <a href="https://docs.google.com/document/u/1/d/1SsBA_r73z99ESfe9pFlK-wt2ymqeO5-D1oXE9OoJCl8/edit" target="_blank" rel="nooponer noreferrer">
                <button>S Y L L A B U S</button>
            </a>
        </div>
        <div class="button-2">
            <button [routerLink]="['/resources']" target="_blank" rel="nooponer noreferrer">
                L E C T U R E S
            </button>
        </div>
        <div class="button-2">
            <a href="https://www.youtube.com/watch?v=VVbolG7cUq8&ab_channel=CS196atIllinois" target="_blank" rel="nooponer noreferrer">
                <button>
                    I N F O - V I D E O
                </button>
            </a>
        </div>
    </div>
</div>