.home-main {
    color: white;
    background: url('../../../assets/home-background.jpg') no-repeat center center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vh;
    margin: 0;
}