.home-main {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 100vh;
  width: 75vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20% 8%;
}

.btncontainer {
  position: absolute;
  width: 200px;
  height: 50px;
  margin-left: 58%;
  padding-top: 3%;
}
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #596985;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}
.google-btn .btn-text {
  float: right;
  margin: 10px 5px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.google-btn:hover {
  box-shadow: 0 0 6px #54647e;
}
.google-btn:active {
  background: #51617a;
}

.background-image {
  padding: 0;
  margin: 0;
  max-height: 100px;
  position: fixed;
  z-index: -10;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 10rem;
}

.home-buttons {
  margin: 5rem 0;
  display: flex;
}

.button-2 {
  margin-left: 1.5rem;
}

button {
  cursor: pointer;
  border-color: black;
  background-color: transparent;
  border-radius: 3rem;
  border: solid 0.01px;
  color: white;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
}

button:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

@media (max-width: 559px) {
  .home-main {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 20% 8%;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-width: 10rem;
  }

  .button-2 .button-1 .button-3 {
    font-size: 1rem;
    margin-left: 0;
  }

  .button-2 {
    margin-left: 0;
  }

  .home-buttons {
    margin: 2rem 0;
    display: block;
  }

  button {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 10px;
  }
}

@media only screen and (min-width: 559px) {
  .button-4 {
    display: none;
  }
}
