<div class="resource-page">
    <div class="resource-main" style="height: 100vh">
        <div class="resource-rows">
            <div class="resource-row-element">
                <section>
                    <a href = "https://github.com/CS196Illinois" style="color:white;text-decoration: none">

                        <fa-stack>
                            <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                            <fa-icon [icon]="faDesktop" stackItemSize="1x" style="color: red"></fa-icon>
                        </fa-stack>
                        <h3>Discord</h3>
                        <p>Real time communication with your group and staff</p>
                    </a>
                </section>
            </div>
            <div class="resource-row-element">
                <section>
                    <a href = "https://piazza.com/class/jl47tmij9uz4wk" style="color:white;text-decoration: none">
                        <fa-stack>
                            <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                            <fa-icon [icon]="faLock" stackItemSize="1x" style="color: red"></fa-icon>
                        </fa-stack>
                    <h3>Piazza</h3>
                    <p>An incredibly easy, completely free Q&A platform. Have a question? Post on Piazza! But for real though, try to search if someone else had the same question first before posting. Thanks!</p>
                    </a>
                </section>
            </div>
        </div>
        <div class="resource-rows">
            <div class="resource-row-element">
                <section>
                    <a href = "https://prairielearn.engr.illinois.edu/" style="color:white;text-decoration: none">
                        <fa-stack>
                            <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                            <fa-icon [icon]="faCog" stackItemSize="1x" style="color: red"></fa-icon>
                        </fa-stack>
                        <h3>PrarieLearn</h3>
                        <p>We use PrarieLearn to do the first few homeworks. Don't procrastinate on them!.</p>
                    </a>
                </section>
            </div>
            <div class="resource-row-element">
                <section>
                    <a href = "https://stackoverflow.com/" style="color:white;text-decoration: none">
                        <fa-stack>
                            <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                            <fa-icon [icon]="faCode" stackItemSize="1x" style="color: red"></fa-icon>
                        </fa-stack>
                    <h3>Stack Overflow</h3>
                    <p>Stack Overflow is the largest, most trusted online community for developers to learn, share​ ​their programming ​knowledge, and build their careers. You could probably get your CS degree from this website.</p>
                    </a>
                </section>
            </div>
        </div>
    </div>
    <div class="resources-table">
        <app-lectures-table></app-lectures-table>
    </div>
</div>


