.cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  justify-content: center;
}

.people {
  margin: 2% 2.5%
}


.title {
  font-size: 3.5rem;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 3%
}


@media  (max-width: 559px){
  .link {
      color: black;
      margin-left: 5%;
  }
}

@media only screen and (min-width: 559px) {
  nav {
      display: none;
  }
}