<div class="staff">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['/resources']">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['/grades']">Grades</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="title">Staff</div>
    <div class="cards">
        <div *ngFor="let person of staff" class="people">
            <app-person name="{{person.name}}" bio="{{person.bio}}" picture="{{person.picture}}" class="people"></app-person>
        </div>
    </div>
</div>

