.cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  justify-content: center;
}

.people {
  margin: 2% 2.5%
}


.title {
  font-size: 3.5rem;
  margin-left: 5%;
  margin-bottom: 3%
}


